@CHARSET "UTF-8";

.login-join {
	float: right;
}
.login-join li{
	float: left;
	margin: 0 5px;
}
.login-join li > a {
	text-decoration: none;
	font-size: 15px;
}
.logo{
	width: 200px;
	height: 80px;
	float: left;
}
.logo img {
	width: 200px;
	height: 80px;
}
.menu-Area {
    width: 1150px;
    float:right;
}
.menu-bar {
	right: 0;
	width: 1050px;
	height: 65px;
	display: table-cell;
	vertical-align: bottom;
}
.menu-bar>li{
	margin: 0 30px;
	float: right;
}

.menu-bar > li:hover, .login-join li:hover{
	font-weight:bold;
	cursor:pointer;
	text-shadow: 1px 1px 20px lightgray;
	border-bottom: 2px solid black;
}
.logo:hover {
	cursor: pointer;
}

.menu-bar a {
	font-size: 14px;
	color: #00A375;
	text-decoration: none;
}
