@CHARSET "UTF-8";

.roomArea {
	overflow: scroll;
	width: 1150px;
	height: 700px;
	border: 5px solid gray;
	position:relative;
}
.titleArea {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}

.room{
	overflow: hidden;
}
.room li{
	float: left;
	width: 400px;
	border: 5px solid #dfdfdf;
	margin: 70px 80px 0 80px;
	box-sizing: border-box;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	border-radius: 30px;
}
.room li:hover{
	cursor: pointer;
	color: red;
	border: 5px solid black;
	box-shadow : 4px 4px 2px 1px #808080;
}

.btnArea {
	position : fixed; 
	right: 920px;
	bottom: 400px;
}
 
#modalLayer {
	display: none; 
	position: relative;
}


#modalLayer .modalContent {
	width: 440px; 
	height: 200px; 
	padding: 20px; 
	border: 5px solid darkblue; 
	box-shadow : 4px 4px 2px 1px darkgray;
	position: fixed; 
	left: 50%; 
	top: 50%; 
	z-index: 11; 
	background: darkblue;
	
}

.contentA {
	width: 100%;
	
}

.contentA tr {
	text-align: center;
	font-size: 20px;
}

.roomTitle {
	margin-top: 30px;
	width: 100%;
}

.modalbtnArea {
	margin-top: 40px;
	margin-left: 250px;
}
.title {
	width: 80%;
	height: 50px;
}